#1. Load Data

In [26]:
import pandas as pd
import numpy as np

# Creating a sample dataset
data = {
    'Age': [25, 30, None, 40, 150, 35, -10, 70, 80, 20, 400],
    'Salary': [50000, 54000, 58000, 62000, -1000, 70000, None, 78000, 82000, 86000, 1200000],
    'Gender': ['Male', 'Female', 'female', 'Male', 'Female', 'FeMale', 'Male', 'Female', 'female', None, 'male'],
    'Purchased': ['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No']
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
      Age     Salary  Gender Purchased
0    25.0    50000.0    Male        No
1    30.0    54000.0  Female       Yes
2     NaN    58000.0  female        No
3    40.0    62000.0    Male        No
4   150.0    -1000.0  Female       Yes
5    35.0    70000.0  FeMale       Yes
6   -10.0        NaN    Male        No
7    70.0    78000.0  Female       Yes
8    80.0    82000.0  female       Yes
9    20.0    86000.0    None        No
10  400.0  1200000.0    male        No

# 2. Initial Exploration
Exploring the data to understand its structure.

In [27]:
# Initial Exploration
print("\nData Summary:")
print(df.describe(include='all'))

print("\nMissing Values:")
print(df.isnull().sum())

Data Summary:
               Age        Salary Gender Purchased
count    10.000000  1.000000e+01     10        11
unique         NaN           NaN      5         2
top            NaN           NaN   Male        No
freq           NaN           NaN      3         6
mean     84.000000  1.739000e+05    NaN       NaN
std     119.298878  3.613734e+05    NaN       NaN
min     -10.000000 -1.000000e+03    NaN       NaN
25%      26.250000  5.500000e+04    NaN       NaN
50%      37.500000  6.600000e+04    NaN       NaN
75%      77.500000  8.100000e+04    NaN       NaN
max     400.000000  1.200000e+06    NaN       NaN

Missing Values:
Age          1
Salary       1
Gender       1
Purchased    0
dtype: int64

In [28]:
# Standardizing 'Gender' column
df['Gender'] = df['Gender'].str.capitalize()

#3. Handle Missing Values
 inplace=True: The original DataFrame is modified directly

In [29]:
# Handle Missing Values
# Impute missing numerical values with the mean


# Fill missing values
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].median(), inplace=True)
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)

print("\nData after Handling Missing Values:")
print(df)

Data after Handling Missing Values:
      Age     Salary  Gender Purchased
0    25.0    50000.0    Male        No
1    30.0    54000.0  Female       Yes
2    84.0    58000.0  Female        No
3    40.0    62000.0    Male        No
4   150.0    -1000.0  Female       Yes
5    35.0    70000.0  Female       Yes
6   -10.0    66000.0    Male        No
7    70.0    78000.0  Female       Yes
8    80.0    82000.0  Female       Yes
9    20.0    86000.0  Female        No
10  400.0  1200000.0    Male        No